body{
    color:#333;
    font-family:sans-serif;   
    background: #000; 
}

input{
    display:block;
    width:100%;
    margin:auto;
    padding:9px;
    margin: 12px 2%;
    box-sizing: border-box;
    border-top: 2px solid #48e;
    background: transparent;
    outline: none !important;
    transition: background 0.3s;
    color:#fff ;
}

input[type="submit"]{
    background:#26a; 
    color:#fff;
    width:50%;
    margin-top: 24px 0;
    margin-bottom:12px;
    padding:12px;
    transition:color 0.3s;
    
}

input::placeholder{
    color:#79f;
}

input:hover{
    background:#26a ;
}

input[type="submit"]:hover{
    background: #048;
    
}

input:hover::placeholder{
    color:#fff ;
}


form{
    width: 86%;
    width:auto;
    background: #013;
    padding:30px;
}

h2{
    padding:9px;
    color:#fff;
    margin-bottom: 36px;
}

.green{
    color:#9c9
}

.red{
    color:#c99
}